<!-- Number 1: <input type="number" name="" id="" [(ngModel)]="number1">
Number 1: <input type="number" name="" id="" [(ngModel)]="number2">
<input type="button" value="Sum" (click) = "addnum()"> &nbsp; &nbsp; <input type="button" value="Difference" (click)="diffnum()">
<h1>Value from Service : {{ result }}</h1>

<input type="button" value="Show Message" (click)="showMsg()">

<h3> {{msg.wmsg}} </h3> -->

<!-- <input type="button" value="Show Data" (click)="callServer()"> -->

<!-- <h3> {{msg1.msg}} </h3> -->

<!-- <table>
    <thead>
        <th>Name</th>
        <th>Salary</th>
    </thead>
    <tbody>
        <tr *ngFor="let d of sdata">
            <td>{{d.name}}</td>
            <td>{{d.sal}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <table>
    <thead>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let d of sdata">
            <td>{{d.productId}}</td>
            <td>{{d.productName}}</td>
            <td>{{d.productPrice}}</td>
        </tr>
    </tbody>
</table> -->
