<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/home/new">Add</a></li>
        <li><a routerLink="/home/edit">Edit</a></li>
        <li><a routerLink="/home/view">View</a></li>
        <li><a routerLink="/home/delete">Delete</a></li>
        <li><a [routerLink]="['/home/about','sdjkfgsda','sdhfsdiu']">About Us</a></li>
        <li><a routerLink="/home/contact">Contact Us</a></li>
        <li><a routerLink="/home/service">Service</a></li>
      </ul>
    </div>
  </nav>