<br><br>
<div class="container">
    <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Product ID" id="" type="text" [(ngModel)]="pid">
                    <label for="">Product ID</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Product Name" id="" type="text" [(ngModel)]="pname">
                    <label for="">Product Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Product Price" id="disabled" type="number" class="validate" [(ngModel)]="pprice">
                    <label for="">Product Price</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="button" value="Submit" class="waves-effect waves-light btn" (click)="submitData()">
                </div>
            </div>
    </div>
</div>
<input type="button" name="insert" (click)="insert()"/>